{% extends 'base.html' %}

{% block title %} Editar Medico {% endblock %} 

{% block content %}
<br>
<h1>Actualizar Medico</h1>
<form action="{{ url_for('medico.edit', id_medico=medico.id_medico) }}" method="POST">

  <div class="mb-3">
    <label for="" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="nombre" value="{{medico.nombre}}" required />
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Especialidad</label>
    <input type="text" class="form-control" name="especialidad" value="{{medico.especialidad}}" required />
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Telefono</label>
    <input type="tel" class="form-control" name="telefono" value="{{medico.telefono}}" required />
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Correo</label>
    <input type="email" class="form-control" name="email" value="{{medico.correo}}" required />
  </div>


  <button type="submit" class="btn btn-primary">Actualizar Medico</button>
  
</form>
{% endblock %}
